.banner-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  width: 85%;
}
.banner-title{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
  width: 50%;
}
.banner-title h1{
  font-size: 50px;
  line-height: 30px;
}
.banner-title ul{
  position: relative;
  left: 50px;
}
.banner-title li{
  font-size: 18px;
  list-style-type: none;
  line-height: 40px;
}

.banner-btn{
  position: relative;
  left: 50px;
  display: flex;
  gap: 20px;
}
.banner-btn button{
  padding: 10px;
  width: 130px;
}
.banner-btn-green{
  background-color: #39b75d;
  border: none;
  color: white;
}
.banner-btn-green:hover{
  cursor: pointer;
  background-color: darkgreen;
  border-radius: 10px;
}
.banner-title h3{
  font-size: 15px;
  color: #39b75d;
}
.banner-img{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: grey;
}
.banner-img img{
  height: 350px;
  width: 300x;
}
.img-container-1, .img-container-2{
  background-color: white;
  border: 2px solid white;
}
.t-img-1{
  position: relative;
  left: 100px;
  border-radius: 12px;
}
.t-img-2{
  position: relative;
  top: 65px;
  right: 120px;
  border-radius: 12px;
  background: white;
}

